.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 40%;

  &__container {
    display: flex;
    gap: 15px;
    padding-bottom: 15px;
  }

  &__label {
    font-weight: 600;
  }

  &__options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
    padding-bottom: 15px;
  }
}
